/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #170808;
    color: #031ff0;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #5213e7;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

h2 {
    margin-bottom: 20px;
}

.project {
    margin-bottom: 30px;
}

footer {
    background: #0d0606;
    color: #2910e4;
    text-align: center;
    padding: 20px 0;
}
